# Gradle
.gradle/
**/build/
build/

# Kotlin
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
.cxx/
.externalNativeBuild/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
